<mat-card class="mainHeader z-depth ">
  <mat-card-content>
    <h2>Analysis</h2>
  </mat-card-content>
</mat-card>

<div class="row">
  <div class="col-md-3" >
    <app-input></app-input>
  </div>
  <div class="col-md-3" >
    <app-piechart></app-piechart>
  </div>
  <div class="col-md-6">
    <app-barchart></app-barchart>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12" >
 <app-datatable></app-datatable>
  </div>
</div>
<mat-card class="mainMessages z-depth">
  <mat-card-content>
   <app-messages></app-messages>
  </mat-card-content>
</mat-card>
